*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
@media screen and (max-width:768px) {
          body{
          background-image: url("https://res.cloudinary.com/dvznglupe/image/upload/v1675264808/Akatsuki_Cloud_HD_Wallpaper_-_PixelsTalk_Net_kjovlf.jpg");
          background-position: center ;
          background-size: contain;
          object-fit: contain;
     }
     small{
position: absolute;
     color: white;
     top: 4%;
     left: 5%;
}
.calculator-body{
     height:80ch;
     width: 80%;
     border: 1px solid black;
     margin: 5rem auto;
     background: #000;
     border-radius: 2rem;
     z-index: 99;
     position: relative;
     border: 2px solid white;
}
.calculator-input{
     background: black;
     height: 4rem;
     width: 90%;
     margin:.4rem 0;
     color: white;
     margin: 4rem 1rem;
     font-size: 2rem;
     text-align: right;
     
}
.calculator-btn{
     margin-top: .7rem;
     border-radius: 50%;
     width: 3rem;
     height: 3rem;
     background: rgba(114, 113, 113, 0.2);
     color: white;
     font-size: 1.3rem;
     cursor: pointer;
     border: 2px solid white;
      
}
.clear{
     display: none;
}
.zero{
     width: 8rem;
     border-radius: 1rem;
}
.grey{
     background: rgb(189, 187, 187);
     color: #000;
     border: 2px solid white;

}
.yellow{
     /* background: rgb(243, 153, 44); */
     background: rgba(204, 26, 26, 0.613);
     border: 2px solid white;
}
.first-line{
     display: flex;
     justify-content: space-evenly;
}
.second-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.third-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.fourth-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.last-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}


}
@media screen and (min-width:768px) {
     body{
          background-image: url("https://res.cloudinary.com/dvznglupe/image/upload/v1675265140/Itachi_Dark_4_by_DinocoZero_on_DeviantArt_b5isqg.jpg");
          background-position: center ;
          background-size: cover;
          object-fit: cover;
     }
     small{
position: absolute;
     color: white;
     top: 4%;
     left: 5%;
}
.calculator-body{
     height: 90vmin;
     width: 30%;
     border: 1px solid black;
     margin: 5rem auto;
     background: #000;
     border-radius: 2rem;
     z-index: 99;
     position: relative;
     border: 2px solid white;
}
.calculator-input{
     background: black;
     height: 3rem;
     width: 90%;
     margin:.4rem 0;
     color: white;
     margin: 2.5rem 1rem;
     font-size: 2rem;
     text-align: right;
     
}
.calculator-btn{
     margin-top: .5rem;
     border-radius: 50%;
     width: 3rem;
     height: 3rem;
     background: rgba(114, 113, 113, 0.2);
     color: white;
     font-size: 1.3rem;
     cursor: pointer;

}
.clear{
     display: none;
}
.zero{
     width: 8rem;
     border-radius: 1rem;
}
.grey{
     background: rgb(189, 187, 187);
     color: #000;
}
.yellow{
     background: rgb(243, 153, 44);
}
.first-line{
     display: flex;
     justify-content: space-evenly;
}
.second-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.third-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.fourth-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}
.last-line{
     display: flex;
     margin-top: .4rem;
     justify-content: space-evenly;
}




}


